.glow-small{
    background-color: red;
    width: 20px;
    height: 20px;
    z-index: 15;
    position: absolute;
    top: 95px;
    border-radius: 25px;
    margin-left: 160px;
    opacity: 0.7;
    @media (max-width: 892px){
        margin-left: 145px;
        top: 75px;
    }
}

.graphDesign{
    background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 80%),
    linear-gradient(to bottom, transparent 30%, rgba(255, 255, 255, 0.8) 20%);
    background-size: 20px 10px;
    opacity: 0.7;
    background-color: #00ccd6;
    position: absolute;
    z-index: 15;

    // background-color: red;
}

// .glow-large{
//     background-color: red;
//     width: 20px;
//     height: 20px;
//     z-index: 15;
//     position: absolute;
//     top: 95px;
//     border-radius: 25px;
// }
